.profile-picture .user-cover img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  -webkit-box-shadow: -2px 7px 15px -8px #000000;
  box-shadow: -2px 7px 5px -8px #000000;
  border: 1px solid rgb(164, 159, 159);
}
.profile-picture .user-profile {
  margin-top: -100px;
}
.profile-picture button {
  background-color: rgb(236, 233, 233);
  cursor: pointer;
  text-align: center;
  height: 20px;
  width: 100px;
  text-align: center;
}
.profile-picture .user-profile img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
  display: flex;
  margin: auto;
  border: 1px solid rgb(164, 159, 159);
}

.user-name {
  text-align: center;
  margin-top: 1%;
}
.user-name p {
  margin-top: 1%;
  font-size: 14px;
  margin-bottom: 2%;
}
.personal-details {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: right;
  text-align: right;
  gap: 5px;
  justify-content: right;
  margin-bottom: 3%;
}
.personal-details b {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}
.personal-details b p {
  font-size: 13px;
  font-weight: normal;
}
.upload-cover-from-profile {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
}
.upload-cover-from-profile button {
  width: fit-content;
  padding: 4px;
  background-color: #f3efef;
  border-radius: 5px;
  cursor: pointer;
  /* top: 0; */
}
.upload-cover-from-profile input {
  width: 180px;
}
